body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 10px;
}

.box {
    background: rgb(255, 255, 255);
    padding: 40px 25px;
    width: 100%;
    max-width: 380px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 35px rgba(0,0,0,0.2);
}

#number {
    font-size: clamp(50px, 12vw, 80px);
    margin: 10px 0;
}

.btns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    flex: 1;
    padding: 15px 5px;
    border: none;
    border-radius: 12px;
    font-size: clamp(20px, 5vw, 28px);
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

#plus { background: #8a968a; color: white; }
#minus { background: #40b991; color: white; }
#reset { background: #7b1b5b; color: white; }

button:active {
    transform: scale(0.92);
}

.emoji {
    font-size: clamp(40px, 10vw, 60px);
    margin-bottom: 10px;
    height: 60px;
}